.logo {
  height: 40px;
  width: auto;
}

#navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar-container {
    width: 60%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    ul {
      display: flex;
      list-style: none;
      font-weight: 500;
      li {
        padding: 0 20px;
        transition: .3s;

        &:nth-child(3) {
          border-right: 1px solid white;
        }

        &:hover {
          color: #1ed760;
          cursor: pointer;
        }
      }
    }
  }
}
