@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Quicksand:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Roboto;
}

.logo {
  height: 40px;
  width: auto;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .navbar-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 500;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

#navbar .navbar-container ul li:hover {
  color: #1ed760;
  cursor: pointer;
}

#showcase {
  height: 100vh;
  background: url("../img/showcase.webp") center center/cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#showcase .showcase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 4.6rem;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}

#showcase .showcase-container .btn-primary {
  background: #1ed760;
  color: white;
  text-transform: uppercase;
  padding: 15px 50px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}

#footer {
  background: #000000;
  color: white;
}

#footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

#footer .footer_content .footer_menu {
  margin: 0 40px;
}

#footer .footer_content .footer_menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
  font-size: 0.8rem;
}

#footer .footer_content .footer_menu .footer_menu-item {
  margin: 25px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer .footer_content .footer_menu .footer_menu-item:hover {
  color: #1ed760;
  cursor: pointer;
}

#footer .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
  margin: auto;
  padding: 15px 0;
  font-weight: bold;
  color: grey;
  font-size: 0.75rem;
}

#footer .footer_info .footer_info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer_info .footer_info-items .footer_info-item {
  margin: 0 10px;
}

#footer .footer_info .rights .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer_info .rights .country .brazil_flag {
  height: 20px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */